<div class="d-flex justify-content-between">
    <div class="p-2"><h3> Testes </h3></div>
    <div class="m-2"><a class="btn btn-outline-info" href="/testes/new" role="button">Novo Teste</a></div>
</div>
<hr class="mt-0">

<table class="table table-headless table-hover">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Descrição</th>
    </tr>
  </thead>
  <tbody>
    <% TestesController.testes.each do |teste| %>
    <tr>
      <td><a href="/testes/<%= teste.id %>"><%= teste.nome %></a></td>
      <td><%= teste.descricao %></td>
    </tr>
    <% end %>
  </tbody>
</table>
