<h3 class="my-4">Novo Teste</h3>
<form action="/testes" method="post">
  <input type="hidden"  name="elaborador_id" value="<%= Current.user.id %>">


  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Nome</label>
        <input type="text" class="form-control" name="nome" required>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Duração mínima</label>
            <input type="number" class="form-control" name="duracao" required>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Percentual aprovação</label>
            <input type="number"  step="0.1" class="form-control" name="percentual_aprovacao" required>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Descrição</label>
        <textarea class="form-control" rows="5" name="descricao"></textarea>
      </div>
    </div>
  </div>


  <button type="submit" class="btn btn-primary">Criar</button>
</form>
