<div class="d-flex justify-content-between">
  <div class="m-2"><h3> Candidatos </h3></div>
  <div class="m-2"><a class="btn btn-outline-info" href="/candidatos/new" role="button">Novo Candidato</a></div>
</div>
<hr class="mt-0">

<table class="table table-headless table-hover">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Inscrição</th>
    </tr>
  </thead>
  <tbody>
    <% CandidatosController.candidatos.each do |candidato| %>
    <tr>
      <td><a href="/candidatos/<%= candidato.id %>"><%= candidato.nome %></a></td>
      <td><%= candidato.inscricao %></td>
    </tr>
    <% end %>
  </tbody>
</table>
