<% teste = QuestoesController.teste %>
<h3 class="my-4">Nova Questão</h3>
<form action="/testes/<%= teste.id %>/questoes" method="post" enctype="multipart/form-data">

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Texto</label>
        <input type="text" class="form-control" name="texto" required>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Ilustração</label>
        <input type="file" class="form-control-file" name="image_file">
      </div>
    </div>
  </div>

  <h4 class="my-4">Alternativas</h4>

  <div id="alternativas">

    <div class="row">
      <div class="col-md-6">
        <label>Texto</label>
      </div>
      <div class="col-md-6">
        <label>Correta?</label>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <input type="text" class="form-control" name="alternativas_attributes[]texto" required>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <input type="checkbox" name="alternativas_attributes[]correta" class="form-control check">
        </div>
      </div>
    </div>

  </div>


  <a href="#" onclick="adicionarAlternativa()" class="mb-2">+ Adicionar alternativa</a>

  <div class="mt-3">
    <button type="submit" class="btn btn-primary">Criar</button>
  </div>
</form>


<script>
  function adicionarAlternativa() {
    var new_row = document.createElement('div');
    inner_html = `
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <input type="text" class="form-control" name="alternativas_attributes[]texto" required>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <input type="checkbox" name="alternativas_attributes[]correta" class="form-control check">
        </div>
      </div>
    </div>
    `
    new_row.innerHTML = inner_html;

    document.getElementById("alternativas").append(new_row)

    $('.check').click(function() {
      $('.check').not(this).prop('checked', false);
    });
  }
</script>
