<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/stylesheets/application.css">
  </head>
  <body>
    Hey there <%= ::Greeter.greet_name %>

    <form action="/change" method="post">
      <input type="text" name="name" >
      <input type="submit"value="change name">
    </form>
  </body>
</html>
